
#name-header {
    border-radius: 5px;
}

.nav-option {
    border-radius: 5px;
}

.nav-current {
    background-color: var(--dark);
    border-radius: 5px;
    color: var(--secondary);
}

#about-header, #portfolio-header, #contact-header,#resume-header {
    border-radius: 5px;
    padding-left: 20px;
    width: 100%;
}

#about-image {
    border-radius: 5px;
    border: 1px solid;
    float: left;
    padding: 0px 0 0 0;
    margin: 5px 20px 0 0;
}

form {
    margin-top: 20px;
    margin-left: 10px;
}

label, button, select {
    font-family: inherit;
    margin: 0;
    padding: 10px;
}

input, textarea {
    border-radius: 5px;
    border: 1px solid var(--primary);
    font-family: inherit;
    margin: 2px;
    padding: 10px;
    width: 300px;
}

.error-message {
    color: red;
}

#gitHub-profile-image {
    height: 35px;
    width: 75px;
    object-fit: cover;
}

#gitHub-octocat-image {
    height: 39px;
    width: 39px;
    object-fit: cover;
}

.gitHub-spacer {
    margin: 7px;
}

#linkedIn-profile-image {
    height: 30px;
    margin-bottom: 3px;
}

.linkedIn-spacer {
    margin: 5px;
}

#stackOverflow-profile-image {
    height: 50px;
    margin-bottom: 2px;
}

